@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;  
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:rgba(96, 36, 165, 0.068);
  background-image: linear-gradient(white 2px, transparent 2px),
  linear-gradient(90deg, white 2px, transparent 2px),
  linear-gradient(rgba(255,255,255,.3) 1px, transparent 1px),
  linear-gradient(90deg, rgba(255,255,255,.3) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px;
}

body, input, butto {
  font-family: Roboto, sans-serif;
}