main {
  flex: 1;
  margin-left: 20px;
}

main ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  
}

@media(max-width: 650px){ 
  main {
    width: 100%;
  }
  
  main ul {
    grid-template-columns: 1fr;
   }
}
@media(max-width: 1000px){
    #app {
      flex-direction: column;
    }

    #app main {
      margin-left: 0;
      margin-top: 30px;
    }
}