li.dev-item{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFF;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0,02);
  border-radius: 3px;
  padding: 20px;
  transition: 0.1s;
  box-shadow: 8px 8px 5px rgba(85, 58, 162, 0.3);
  border: 2px solid rgba(85, 58, 162, 0,8);
}


li.dev-item header {
display: flex;
flex-direction: row;
align-items: center;

}

li.dev-item header img{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  transition: 0.3s
}


li.dev-item header:hover > img {
  transform: scale(2.5);
  border-radius: 10%;
  z-index: 5;
}

li.dev-item header:hover > .user-info {
  margin-left: 50px;
}

li.dev-item header img:hover > li.dev-item{
    transform: scale(2.5);
}

li.dev-item header .user-info{
  margin-left: 10px;
  transition: 0.1s
}

.user-info strong {
  display: block;
  font-size: 17px;
  color: #333;
  }

  .user-info span {
    font-size: 13px;
    color: #999;
    margin-top: 2px;
  }

  li.dev-item p{  
    color: #666;
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0
  }
 
  .dev-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    align-items: center;
    
  }
  
  .dev-buttons button {
    border: 0;
    background: #553AA2;
    padding: 5px;
    border-radius: 3px;
    font-size: 20px;
    color: #fff;
    cursor: pointer;    
    transition: background 0.1s;  
    display: flex;
  }


  


